@{
    ViewData["Title"] = "Home Page";
}

<div class="b"><p1>DOBRODOŠLI NA SAJT ZEBRACONA ZA PRODAJU!</p1></div>
<div class="b">
    <p>
        Kod nas možete nabaviti kvalitetne termalne štampače renomiranih proizvođača (Zebra, TSC, Printronix,...)
        , od mobilnih prenosnih štampača do industriskih štampača sposobnih za rad u ekstremnim uslovima.
    </p>
</div>
<hr align="center" color="#70dbd4">
<div class="b">
    <p>
        Imamo širok asortiman potrošnog materijala za termalne štampače, nalepnica raznih vrsta i dimenzija, 
        i ribone najboljeg kvaliteta.
    </p>
</div>
<hr align="center" color="#70dbd4">
<div class="b">
    <p>
        Kod nas možete nabaviti sve vrste ručnih skenera i modernih ručnih terminala.
    </p>
</div>
<hr align="center" color="#70dbd4">
<div class="b">
    <p>
        Takođe vršimo servis termalnih štampača i mobilnih terminala, kao i nabavku rezervnih delova.
    </p>
</div>
<hr align="center" color="#70dbd4">
<div class="b">
    <p>
        Za sve informacije slobodno nas kontaktirajte!
    </p>
</div>
